# Enlever la normalization des colonnes EBITDA et EBITDA marg (%) du data echantillon test

In [8]:
import pandas as pd
import pickle

### Inverser la normalization

In [9]:
#Importation du normalizeur
with open ( 'Models_V2/normalizeur.pkl', 'rb' ) as f:
    normalizeur = pickle.load (f)

In [51]:
#Importation de la data
data = pd.read_excel ( 'Data Finpack V2/resultats_test_echantillon/resultats_test_echantillon.xlsx', sheet_name = 'Six Flags Entertainment Corp.', index_col= 0 )
data.head()

,Efcode,Country_Original,Company Name,Sector_Original,Description,Sector,Country,EBITDA - Last,EBITDA Marg. (%) - Last,Classe,EV/EBITDA - Last,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
61126,30572ED,DEU,Borussia Dortmund GmbH & Co. KGaA,Recreational Services,S&P Business SummaryBorussia Dortmund GmbH & C...,0.567164,-0.178571,1.929021,0.736204,5,5.70,NaN,NaN,NaN,NaN
75989,30507FJ,JPN,ROUND ONE Corp.,Recreational Services,S&P Business SummaryRound One Corporation oper...,0.567164,0.375000,2.822434,0.268041,5,11.62,NaN,NaN,Société,EV/EBITDA - Predite
76032,90885FJ,JPN,"Tokyotokeiba Co., Ltd.",Recreational Services,"S&P Business SummaryTokyotokeiba Co.,Ltd. enga...",0.567164,0.375000,3.425619,2.602790,5,5.71,NaN,14.0,Six Flags Entertainment Corp.,7.676667

In [52]:
#Selectionne des colonnes  à inverser la normalisation
data_ = data [['Sector', 'Country', 'EBITDA - Last', 'EBITDA Marg. (%) - Last']]
data_.head ()

         Sector   Country  EBITDA - Last  EBITDA Marg. (%) - Last
61126  0.567164 -0.178571       1.929021                 0.736204
75989  0.567164  0.375000       2.822434                 0.268041
76032  0.567164  0.375000       3.425619                 2.602790

In [53]:
#Application du normalizeur
data_2 = normalizeur.inverse_transform ( data_ )
data_2 = pd.DataFrame ( data_2, columns = data_.columns, index = data_.index )
data_2

       Sector  Country  EBITDA - Last  EBITDA Marg. (%) - Last
61126    93.0     29.0      84.692326                    22.98
75989    93.0     60.0     120.834780                    15.26
76032    93.0     60.0     145.236263                    53.76